.gallery {

    // TODO fix this with masonry stuff
    overflow: hidden;
    margin-bottom: 40px;

    .gallery-item {
        border-radius: 4px;
        margin-bottom: 16px;
        padding: 12px;
      	float: left;
        overflow: hidden;
        width: 33.33333%;

        img {
            width: 100%;
        }

        h3 {
            margin-bottom: 12px;
        }

        p {
            font-size: 1em;
        }
    }
}

.gallery.two .gallery-item {
    width: 50%;
}

.gallery.long .gallery-item {
    width: 100%;
}

@media (min-width: 550px) {
    :not(.js) .gallery.long {

        .gallery-item {
            img {
                width: 36%;
                float: left;
                margin-right: 24px;
                margin-bottom: 24px;
            }

            h3 {
                font-size: 1.5em;
                margin-top: 0;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}

:not(.js) .gallery-item {
    float: left;
}
