header {

    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    padding: 0 10%;
    height: $top-bar-height;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    #logo {
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
    }

    .overflowButton {
        display: none;
    }

    img {
        height: 68%;
        margin: $top-bar-height * 0.16 0;
    }

    nav {

        height: $top-bar-height;
        display: block;
        position: absolute;
        right: 10%;
        top: 0;

        a {
            display: block;
            text-decoration: none;
            color: #555;
            float: left;

            margin: 0 8px;
            box-sizing: border-box;
            line-height: $top-bar-height;
            height: $top-bar-height;
            transition: color .3s;

            font-size: 0.9em;
            position: relative;
            overflow: visible;

            &::after {
                position: absolute;
                right: 0;
                top: 60px;

                content: "";
                display: block;
                background: linear-gradient(to right, $brand-color-dark, $ted-color);
                height: 3px;
                width: 35px;

                transform: scaleX(0);
                -webkit-transform: scaleX(0);
                transition: transform .3s, -webkit-transform .3s;
                transform-origin: right;
                -webkit-transform-origin: right;
            }

            &:hover, &.active {
                color: $ted-color;

                &::after {
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                }

            }

            &.active::after {
                transition: none;
            }

            &:active {
                opacity: .7;
            }

        }
    }
}

.hero {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
    transition: opacity 1.5s;
    background: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.fasthide {
        transition: opacity .25s;
        opacity: 0 !important;
    }

    img {
        opacity: .6;
        position: absolute;
        top: calc(50% + #{$top-bar-height});
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        flex-shrink: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    &::before {
        z-index: 2;
        top: 0;
        background: linear-gradient(to top, transparent, #eee);
        height: $top-bar-height;
    }

    &::after {
        bottom: 0;
        background: linear-gradient(to bottom, transparent, #eee);
        height: 400px;
    }

}

.mapLocation {
    display: none;
    position: absolute;
    right: 20px;
    top: $top-bar-height + 20px;
    overflow: hidden;
    cursor: pointer;

    a {
        display: block;
        color: white;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        padding: 6px 10px;
        text-decoration: none;
        transition: background .2ss;

        &:hover,
        &:focus {
            background: rgba(255, 255, 255, 0.4);
            &::after {
                content: '\'s this at Purdue?';
            }
        }

        &::after {
            content: '\'s this?';
        }
    }
}

main {

    margin: $top-bar-height auto 0 auto;
    min-height: calc(100vh - #{$top-bar-height +450px});
    width: 65%;
    min-width: 300px;
    max-width: 800px;

    a {
        color: $ted-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h1 {
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        padding-top: 170px;
        margin-bottom: 240px;
        font-size: 6vh;
        position: relative;

        &::after {
            position: absolute;
            top: calc(100% + 28px);
            left: 0;
            right: 0;

            content: "";
            display: block;
            background: linear-gradient(to right, $brand-color-dark, $ted-color);
            height: 6px;
            width: 24%;
            margin: 0 38%;
        }

    }

    h2 {
        color: #555;
        font-size: 1.8em;
        text-align: center;
        margin: 42px 0 24px 0;
    }

    p.sub {
        color: #777;
        text-align: center;
        font-style: italic;
    }

    img {
      width: 100%;
      box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4);
      border-radius: 4px;

      &.partner-img {
          height: auto;
          width: 90%;
          margin: 0 auto 24px auto;
          padding: 20px;
          position: relative;
          background: #fff;

          & + p {
              margin-top: -24px;
              margin-bottom: 24px;
              text-align: center;
          }
      }
    }

    p {
        line-height: 1.5em;
        font-size: 1.3em;
        margin-bottom: 24px;
    }

    q {
        font-style: italic;
        text-align: center;
        font-size: 2em;
        font-family: "Playfair Display", serif;
        display: block;
        position: relative;
        width: 100%;
        margin: 70px 0;

        &::before {
            content: '“';
            left: -18px;
            top: -100px;
        }

        &::after {
            content: '”';
            right: -18px;
            bottom: -174px;
        }

        &::before, &::after {
            opacity: .3;
            color: $ted-color;
            font-style: normal;
            font-size: 6em;
            position: absolute;
        }
    }

    iframe.googleForm {
        width: 100%;
    }

}

footer {
    width: 100%;
    overflow: visible;
    position: relative;
    margin-top: 100px;
    font-size: 1.3em;

    .content {
        width: 65%;
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 50px;
    }

    &::before {
        position: absolute;
        top: -53px;
        left: 0;
        right: 0;

        content: "";
        display: block;
        background: linear-gradient(to right, $brand-color-dark, $ted-color);
        height: 6px;
        width: 24%;
        margin: 0 38%;
    }


    .info, .meta {

        float: left;

        a.page-links {
            display: block;
            margin-bottom: 4px;
        }

        a {
            color: $ted-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .info {
        width: 35%;
    }

    .meta {
        width: 65%;
    }

    .social {

        width: 35%;
        float: left;

        a {
            float: left;
            margin-right: 12px;
            border-radius: 50%;
            display: block;
            overflow: hidden;

            &:hover {
                opacity: .8;
            }
        }

    }

}

.js {
    main, footer, .hero {
        opacity: 0;

        &.shown {
            opacity: 1;
        }

    }

    main, footer {
        transition: opacity .2s;
    }

    .mapLocation {
        display: block;
    }

}

@media only screen and (max-width: 930px) {
    header {
        padding: 0 2%;

        nav {
            right: 3%;
        }
    }
}
