.program {
    h2 {
        span {
            font-size: 0.7em;
            margin-left: 12px;
            font-style: italic;
        }
    }
    h3 {
        font-size: 1.4em;
    }

    .talk {
        margin-bottom: 24px;

        h3,
        p {
            margin: 4px 0;
        }

        .title {
            font-style: italic;
        }
    }
} 
