.seasonSelector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    left: 0;
    font-weight: bold;
    max-width: 600px;
    min-width: 300px;
    margin: calc(250px + 6vh) auto;
    position: absolute;
    flex-direction: row-reverse;

    a {
        color: #fff;
        display: block;
        text-decoration: none;
        transition: background .3s;
        padding: 4px 8px;
        border-radius: 4px;

        &.active,
        &:hover {
            background: #fff;
            color: #999;
            text-decoration: none;
        }

        &.fastHide {
            transition: none;
        }
    }
}

@media (max-width: 775px) {
    margin: 0 20px;

    a {
        font-size: 1em;
    }
}
